* {
    background-color: black;
    color: white;
}

.color {
    color: yellow;
}

.property-style{
    position: relative;
    border: 2px solid white;
    margin: 10px;
    padding: 15px;
}



a:visited{
    color: pink;
}

a:hover {
    color:yellow;
}


